* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
/* 需配合flexible库使用 */
.md-theme-default.md-input-container .md-icon:not(.md-icon-delete):after {
  background: transparent !important;
}
.md-snackbar-container {
  background-color: rgba(50, 50, 50, 0.5) !important;
}
